<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="preloader">
  <div id="status"> <img src="img/preloader.gif" height="64" width="64" alt=""> </div>
</div>

{% include header.html %}

<!-- Header -->
<div id="intro" onclick="location.href='#about'">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">&nbsp;</div>
            <!--
          <h1>{{ page.landing.title | textilize }}</h1>
          <p class="intro-text">{{ page.landing.subtitle }}</p>
            -->
      </div>
    </div>
  </div>
</div>

{% include js.html %}

<style>
div.section-block {
    padding: 40px 0;
    background: #f6f6f6;
}
</style>

{% for item in site.sections %}
<div id="{{ item.anchor }}" class="text-center section-block">
  <div class="container">
    {{ item.output }}
  </div>
</div>
{% endfor %}

{% include footer.html %}

</body>
</html>
